.signin-container {
  display: flex;
  flex-direction: column;
  background-image: url("https://i.imgur.com/A6ax1A2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
}

.login-form {
  background-color: #ffffff;
  border: 1px solid black;
  box-shadow: 0 28px 32px 0 rgb(12 0 51 / 10%);
  padding: 0px;
  margin: 175px;
  text-align: center;
  font-size: 14px;
}

input {
  margin: 0px;
  width: 200px;
}

.login-btn {
  width: 75px;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  align-self: center;
}

.login-container {
  
  text-align: center;
}
