body {
  background-color: #474754;
}

header {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 1fr;
  height: 90%;
}

.layout-container {
  display: flex;
  height: 600px;
}

.logo {
  border: none;
}

.welcome {
  margin: auto;
  grid-row: 3 / span 1;
}

.register-links {
  border: 1px solid blue;
}

.authorized-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  font-size: 15px;
}

.authorized-links img {
  border: none;
  width: 16px;
  height: 16px;
}

.home-link, .songs-link, .create-link {
  display: flex;
  flex-direction: column;
}