body {
  background-color: #474754;
  font-size: 15px;
}

header {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 1fr;
  height: 90%;
}
header button {
  margin: 0 5px;
}

.layout-container {
  display: flex;
  height: 600px;
}

.logo {
  border: none;
}

.welcome {
  margin: auto;
  grid-row: 3 / span 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.welcome-back {
  color: #ffde59;
}

.logout {
  width: 75px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  align-self: center;
  transition: all 0.5s ease;
  color: #fff;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  background-color: transparent;
  padding: 10px;
  outline: none;
}

.logout:hover {
  color: black;
  background-color: #ffffff;
}

.authorized-links {
  display: unset;
  display: flex;
  flex-direction: column !important;
}

.authorized-links * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}

a:hover{
  color: #ffde59;
} 

.authorized-links img {
  border: none;
  width: 16px;
  height: 16px;
}

.register-links {
  display: unset;
  display: flex;
  flex-direction: column !important;
}

.register-links * {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.register-links img {
  border: none;
  width: 16px;
  height: 16px;
}

/* MEDIA QUERY - MOBILE */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .layout-container {
    display: grid;
  }
  header {
    display: flex;
    flex-wrap: wrap;
  }
  .authorized-links {
    display: flex;
    flex-direction: row !important;
    margin: 0 auto;
    padding: 5px;
  }
}

/*MEDIA QUERY - TABLET*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .layout-container {
    display: grid;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .authorized-links {
    display: flex;
    flex-direction: row !important;
    margin: 0 auto;
    padding: 5px;
  }
  .logo {
    width: 300px;
    height: 300px;
  }
  .welcome {
    display: flex;
    flex-direction: row;
  }
  .logout {
    margin-left: 10px;
  }
}
