span {
  color: white;
}

.home-container {
  background-image: url("https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  height: 100%;
  text-align: left;
}

.introduction {
  padding-left: 30px;
  width: 30%;
}

.introduction h1 {
  padding: -50px;
  font-family: "Abril Fatface", cursive;
  font-size: 3em;
  border: 1px solid black;
}

.introduction p {
  border: 1px solid red;
}

.get-started {
  border: 1px solid black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  color: white;
  background-color: rgb(71, 73, 100, 0.9);
}